@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content-top {
        display: none;
    }

    .header {
        background-image: url(img/starMobile.png);
        background-repeat: no-repeat;
        background-position: 290px 0px;
        &-content {
            text-align: center;
        }
        &__text {
            font-size: 40px;
            line-height: 48.76px;
            text-align: center;
        }
        &__description {
            font-size: 16px;
            line-height: 19.5px;
            text-align: center;
        }
        &-line {
            gap: 27px;
            height: 51px;
        }
        &-line__game {
            font-size: 16px;
            line-height: 17.6px;
        }
        &-line__img {
            width: 19.34px;
            height: 19.34px;
        }
        &__button {
            width: 285px;
            font-size: 16px;
            line-height: 22.67px;
        }
    }
    
        .mini-games {
            &__box {
                display: flex;
                gap: 32px;
            }
            &__text {
                font-size: 40px;
                font-weight: 700;
                line-height: 48.76px;
                text-align: left;
                padding-bottom: 48px;
            }
            &__top {
                padding-top: 29px;
                padding-bottom: 32px;
            }
            &__button {
                width: 285px;
            }
        }
      
        .game1, 
        .game3,
        .game5 {
            display: flex;
            flex-direction: column-reverse; 
        }
    
        .game2, 
        .game4,
        .game6 {
            display: flex;
            flex-direction: column;
        }
        
        .content {
            padding-bottom: 49px;
            &__game-name {
                font-size: 32px;
                font-weight: 700;
                line-height: 39.01px;
                text-align: left;
            }
            &__description {
                width: 284px;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                text-align: left;
                padding-top: 16px;
            }
        }

        .star3,
        .star4,
        .star7,
        .star8,
        .star9, 
        .star10 {
            display: none;
        }
    
        .footer {
            height: 100px;
            &-text {
                font-size: 16px;
                line-height: 19.5px;
                padding-top: 40px;
            }
        }
    
}

@media (min-width: 320px) and (max-width: 424px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content-top {
        display: none;
    }

    .header {
        background-image: url(img/starMobile.png);
        background-repeat: no-repeat;
        background-position: 220px -5px;
        &-content {
            text-align: center;
        }
        &__text {
            font-size: 40px;
            line-height: 48.76px;
            text-align: center;
        }
        &__description {
            font-size: 16px;
            line-height: 19.5px;
            text-align: center;
            margin-bottom: 36px;
        }
        &-line {
            gap: 27px;
            height: 51px;
        }
        &-line__game {
            font-size: 16px;
            line-height: 17.6px;
        }
        &-line__img {
            width: 19.34px;
            height: 19.34px;
        }
    }
    
        .mini-games {
            &__box {
                gap: 24px;
            }
            &__text {
                font-size: 40px;
                font-weight: 700;
                line-height: 48.76px;
                text-align: left;
                padding-bottom: 48px;
            }
            &__top {
                padding-left: 29px;
            }
            &__button {
                font-size: 16px;
            }
        }
      
    
        .game1, 
        .game3,
        .game5 {
            display: flex;
            flex-direction: column-reverse; 
        }
    
        .game2, 
        .game4,
        .game6 {
            display: flex;
            flex-direction: column;
        }
    
        .content__game-name {
            font-size: 32px;
            font-weight: 700;
            line-height: 39.01px;
            text-align: left;
            &__description {
                width: 284px;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                text-align: left;
                padding-top: 16px;
            }
        }
    
        .star1 {
            top: 97px;
            left: 30px;
        }

        .star2 {
            top: 64px;
            left: 85px;
        }

        .star3 {
            top: 650px;
            left: 280px;
        }

        .star4 {
            top: 627px;
            left: 253px;
        }

        .footer {
            height: 100px;
            &-text {
                font-size: 16px;
                line-height: 19.5px;
                padding-top: 40px;
            }
        }
}