*{
    margin: 0;
    padding: 0;
}

/* body {
    left: 600px;
    right: 600px;
} */
/* .center {
    padding-left: 120px;
    padding-right: 120px;
} */

.header {
    height: 800px;
    background-color: #E1FF8F;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 196px;
   background-image: url(), url();
   background-position: top left, 20% 100px;
}


.header__text {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
    text-align: left;
}

.header__description {
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 32px;
text-align: left;
margin-bottom: 48px;
}

button {
padding: 16px 28px 16px 28px;
border-radius: 60px;
border: 1px solid #202027;
}

.header__button {
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 34.01px;
text-align: center;

}